div,body,ul,li,span,a,h4,h3,p,dl,dt,dd{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	min-width: 1190px;
}

.middle_server{
	width: 100%;
	background: white;
	height: 90px;
}
.middle_server_cont{
	width: 1190px;
	height: 90px;
	margin: 0 auto;
}
.server_list{
	width: 1190px;
	height: 90px;
}
.server_list img{
	display: block;
	float: left;
	margin: 5px 10px 0 0;
}
.server_list li{
	width: 180px;
    padding: 20px 0 20px 95px;
    height: 50px;
    position: relative;
    float: left;
    font-family: '\5FAE\8F6F\96C5\9ED1';
    cursor: pointer;
}
.server_list li:hover{
	color: #E30483;
}
.server_list p{
	font-size: 10px;
    letter-spacing: -.8px;
    color: #555;
    line-height: 14px;
}
.server_list p:hover{
	color: #E30483;
}
.server_list li strong{
	font-size: 18px;
    display: block;
    height: 24px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 12px;
} 
/*=====================商品列表===============================*/ 
.page-main-content{
	width: 100%;
	height: auto;
	background: url(../img/page_bg.png); 
}
.h-inner{
	width: 1190px;
	height: 140px;
	padding-top: 20px; 
	margin: 0 auto; 
	/*position: relative;*/
}
.h-inner a{
	position: relative;
	bottom: 0;
	left: 0;
}
.hot-collection{
	width: 100%;
	height: 619px;
	overflow: hidden;
}
.h-collection{
	width: 1190px;
	height: 589px;
	margin: 0 auto;
}
.h-head{
	text-align: center;
	margin: 30px 0 30px 0;
}
.h-span{
	display: inline-block;
}
.h-span img{
	display: block;
}
.h-hot{
	width: 1190px;
	height: 520px;
	position: relative;
	background: white;
}
.h-hot-l img{
	height: 520px;
	position: absolute;
    left: -15px;
}
.h-hot-l{
	width: 318px;
	height: 520px;
	float: left;
	position: relative;
}
.h-hot-r{
	width: 872px;
	height: 520px;
	float: left;
}
.h-goods li{
	width: 289px;
	height: 259px;
	float: left;
	position: relative;
	border-right: 1px solid #E8E8E8;
} 
.h-goods img{
	width: 289px;
	height: 259px;
	border-top: 1px solid #E8E8E8;	
}

.hot-brand{
	width: 100%;
	height: 508px;
}
.h-brand{
	width: 1190px;
	height: 508px;
	margin: 0 auto;
}

.brand{
	width: 1160px;
	height: 410px;
	background: #fff; 
    padding: 15px;
    border-radius: 4px;
    overflow: hidden;
}
.brand-l{
	float: left;
}
.brand-l img{
	border-radius:4px ;
}
.brand-r li{
	width: 420px;
	height: 200px;
	float: left;	
	margin:0 0 10px 10px;
}
.brand-r li img{
	border-radius:4px ;
}




