
{% load static %}


<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>嗨淘全球-商品详情</title>
		<script src="{% static 'js/jquery-1.12.0.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/pull-down-list.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/goodsinfo.js' %}" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/goodsinfo.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/top.css' %}"/>
		
	</head>
	<body>
		
		<!--顶部-->
		<div class="h-top">			
			<div class="site_nav">
				<div class="u-info">
					<a href="login.html">登录</a>
					<a href="register.html">免费注册</a>
					<a href="#" style="margin-left: 10px;"><i class="icon-shouji"></i>手机版</a> 
				</div> 
				<div class="quick_menu"> 
					<a href="#">我的订单</a>
					<span class="quick_menu_span">|</span>
					<a href="#">我的优惠券</a>
					<span class="quick_menu_span">|</span>
					<a href="#">我的收藏</a>
					<span class="quick_menu_span">|</span>
					<a href="#">帮助中心</a> 
				</div>
			</div>
		</div>
		
		<!--login部分-->
		<div class="head-top">
			<div class="head-top-cont">
				<div class="h-login">
					<a href="index.html" target="_blank">
						<img src="{% static 'img/Logo.png' %}"/>
					</a>
					<div class="solog"></div>
				</div>
				<div class="hd-right">
					<div class="search-bar">
						<input type="text" placeholder="搜索商品"/>
						<button id="h-btn">搜索</button>
					</div>
					<div class="hitBox">
						<ul class="hitBox-list">
							<li><a href="#">面霜|</a></li>
							<li><a href="#">面膜|</a></li>
							<li><a href="#">洁面|</a></li>
							<li><a href="#">奶粉|</a></li>
							<li><a href="#">纸尿裤|</a></li>
							<li><a href="#">辅食|</a></li>
							<li><a href="#">宝宝营养|</a></li>
							<li><a href="#">唇部彩妆|</a></li>
							<li><a href="#">身体护理|</a></li>
							<li><a href="#">香氛</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!--首页，分类的下拉列表-->
		<div class="black_meue">
			<div class="black_meue_cont">
				<!--左边的列表-->
				<div class="left-index">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="#">全球特卖</a></li>
					</ul>
				</div>  
				<!--右边的列表-->
				<div class="right-classify">
					<img src="{% static 'img/class.png' %}" class="fi-img"/>
					<span class="t">查看分类</span>									
				</div>
				<div class="siftMeue">					
					<div class="classify">
					   <ul class="sift-l">
					   	 <li><img src="{% static 'img/li_1.png' %}"/><a href="#">面部护理</a></li>
					   	 <li><img src="{% static 'img/li_2.png' %}"/><a href="#">个人护理</a></li>
					   	 <li><img src="{% static 'img/li_3.png' %}"/><a href="#">时尚彩妆</a></li>
					   	 <li><img src="{% static 'img/li_4.png' %}"/><a href="#">香氛/精油</a></li>
					   	 <li><img src="{% static 'img/li_5.png' %}"/><a href="#">婴幼儿</a></li>
					   	 <li><img src="{% static 'img/li_6.png' %}"/><a href="#">孕产妇</a></li>
					   	 <li><img src="{% static 'img/li_7.png' %}"/><a href="#">营养保健</a></li>
					   </ul>					   
					</div>
					
					<div class="sift-r"> 
						<div class="sift-r-list">
							<ul class="r-list1">
								<li>
									<h3>洁面</h3>
									<div class="a">
										<a href="#">洁面粉</a>
										<a href="#">洁面膏/霜</a>
										<a href="#">洁肤皂</a>
									</div>
								</li>
								<li>
									<h3>爽肤水/化妆水</h3>
									<div class="a">
										<a href="">爽肤水</a>
										<a href="">美容液</a>
										<a href="">喷雾</a>
									</div>
								</li>
								<li>
									<h3>乳霜/面霜</h3>
									<div class="a">
										<a href="">乳液</a>
										<a href="">面霜</a>
										<a href="">日霜</a>
										<a href="">凝露/凝胶</a>
										<a href="">防晒/修护</a>
									</div>
								</li>
								<li>
									<h3>面膜</h3>
									<div class="a">
										<a href="">面膜贴</a>
										<a href="">免洗面膜</a>
										<a href="">水洗面膜</a>
									</div>
								</li>
							</ul>
							<ul class="r-list1">
								<li>
									<h3>个人洗护</h3>
									<div class="a">
										<a href="">洗发</a>
										<a href="">护发</a>
										<a href="">洗护套装</a>
										<a href="">沐浴露</a>
										<a href="">牙膏</a>
										<a href="">美发造型</a>
									</div>
								</li>
								<li>
									<h3>身体护理</h3>
									<div class="a">
										<a href="">塑身</a>
										<a href="">香体液</a>
										<a href="">手霜/手膜</a>
									</div>
								</li>
							</ul>
							<ul class="r-list1">
								<li>
									<h3>卸妆</h3>
									<div class="a">
										<a href="">卸妆液</a>
										<a href="">卸妆油</a>
										<a href="">卸妆膏</a>
									</div>
								</li>
								<li>
									<h3>唇部彩妆</h3>
									<div class="a">
										<a href="">唇膏/口红</a>
										<a href="">唇彩/唇蜜</a>
									</div>
								</li>
							</ul>
							<ul class="r-list1">
								<li>
									<h3>香水</h3>
									<div class="a">
										<a href="">女士香水</a>
										<a href="">男士香水</a>
										<a href="">香水套装</a>										
									</div>
								</li>								
							</ul>
							<ul class="r-list1">
								<li>
									<h3>纸尿裤</h3>
									<div class="a">
										<a href="">新生儿</a>
										<a href="">S</a>
										<a href="">M</a>
										<a href="">拉拉裤</a>
									</div>
								</li>
								<li>
									<h3>宝宝营养</h3>
									<div class="a">
										<a href="">DHA</a>
										<a href="">维生素</a>
										<a href="">钙镁锌片</a>
									</div>
								</li>
								<li>
									<h3>宝宝辅食</h3>
									<div class="a">
										<a href="">米粉</a>
										<a href="">泡芙</a>
										<a href="">果蔬肉泥</a>
										<a href="">零食</a>
									</div>
								</li>
							</ul>
							<ul class="r-list1">
								<li>
									<h3>孕妈营养</h3>
									<div class="a">
										<a href="">维生素</a>
										<a href="">钙镁锌铁</a>
									</div>
								</li>
								<li>
									<h3>母婴其他用品</h3>
									<div class="a">
									</div>
								</li>
							</ul>
							<ul class="r-list1">
								<li>
									<h3>维生素/矿物质</h3>
									<div class="a">
										<a href="">维生素</a>
										<a href="">钙镁锌硒</a>
									</div>
								</li>
								<li>
									<h3>蛋白质/氨基酸</h3>
									<div class="a">
										<a href="">胶原蛋白</a>
									</div>
								</li>
								<li>
									<h3>其他营养补充品</h3>
									<div class="a">
										<a href="">其他保健品</a>
									</div>
								</li>
							</ul>
							
						</div>
						<div class="sift-r-img">						
							<h4><a href="#"><img src="{% static 'img/3.png' %}"/></a></h4>
						</div>
					</div>
 					</div>	
			</div>
		</div>
		
		
		<!--商品详情部分-->
		
		<div class="product_base">
			<div class="product_base_cont">
				<!--商品路径-->
				<p class="mbq">					
				</p>
				
				<!-- ht_gallery 产品图片 -->
				<div class="ht_gallery">
					
					<div class="brand_name">
						
					</div>
					
					<div class="ht_pic">
						<p class="brand_stockout" style="display: none;">抢光了!</p>
						<a href="#" class="lover">							
						</a>					    
					</div>%
					
					<p class="share">
						分享
						<a href="#" title="微信" class="icon_wx"><img src="{% static 'img/weixin1.png' %}"/></a>
						<a href="#" title="新浪" class="icon_sina"><img src="{% static 'img/weibo.png' %}"/></a>
						<a href="#" title="QQ空间" class="icon_qqzone"><img src="{% static 'img/share.png' %}"/></a>
					</p>
					<div class="qrcode"><img src="{% static 'img/weixin.png' %}"/><i></i></div>
				</div>
				
				<div class="big_area">
				</div>
			
			    <div class="product_information">
			    	
			    	<div class="cout_down">
			    		<i><img src="{% static 'img/clock.png' %}"/></i>
			    		距结束
			    	</div>
			        <div class="while_price">
						<p class="buy" style="display:none"><span>205</span>人已购买</p>
						
						<div class="price-terms" id="terms">
							<a href="">税费说明</a>
							<div class="price-terms-shows">
								<i></i>
								<em></em>
								<p id="price-terms-shows">根据跨境电子商务零售进口税收政策，将对商品征收关税、消费税、增值税。具体征收的税种视商品而定。</p>
							</div>
						</div>
					</div>
					
					<div class="details-zh">
						官方指导价 
									
					</div>
					
					<div class="details-jm">
						<span>包邮</span>
						<div class="details-smt ">全场包邮</div>			
					</div>
					<div class="details-jm" style="display: none;">
						<span>限时促销</span>
						<div class="details-smt" style="text-indent: 80px;">首页团购</div>			
					</div>
					
					<dl class="ht_amount">
						<dt>数　　量：</dt>
						<dd>
							<div class="amount">
								<a class="btn_minus astrict">-</a>
								<input type="text"  id="buyNum" value="1">
								<a class="btn_plus">+</a>
							</div>	
						</dd>
					</dl>
					
					<div class="ht_action">
						<a id="buy_goods_btn" class="goods_btn" title="立即购买"   style="display: inline;"><span>立即购买</span></a>
						<a id="add_cart_btn"  class="goods_btn" title="加入购物袋" style="display: inline;"><span><i><img src="{% static 'img/bag.png' %}"/></i>加入购物袋</span></a>
			     	</div>
			       
			    </div>
			
			
			
			</div>
		</div>
		
		<!--商品更多详情-->
		<div class="product_more">
			<div class="product_more_cont">
				<div class="side">					
					</ul>
					
					<div class="mod_side">
						<h3 class="tit_guess">猜你喜欢</h3>
						<ul class="guess_love">
						</ul>
					</div>
				</div>
			
			
			    <div class="mod_product_intro">
			    	<ul class="ht_tab">
			    		<li class="light"><a>商品介绍</a></li>
			    		<li><a>商品评论</a></li>
			    	</ul>
			    	
			    	<div class="product_pro dis">
			    		<img src="{% static 'img/detail_prom.jpg' %}" width="680px" height="70px" alt="服务承诺">
			    	    <div class="pro_param">
			    	    	<h4 class="tit_pro_param">产品参数</h4>
			    	        <dl class="pro_param_list">
			    	        	<dt class="dt">
			    	        	</dt>
			    	        </dl>
			    	        <h4 class="tit_pro_des">产品描述</h4>
			    	    </div>
			    	    <div class="product_img">			    	    	
			    	    </div>
			    	    
			    	</div>
			    
			        <div class="product_pro">
			        		<div class="commentBox">
			        			<div class="media_review">
			        				<img src="{% static 'img/review1.jpg' %}" class="media_review_img"/>
			        			    <i class="detail-icos v0"></i>
			        			    <div class="media_review_cont">
										<span class="media_review_name">小小小雪啊</span>
										<span class="media_review_time">2016-10-02 00:27</span>
										<div class="media_review_desc">这个还可以没有损坏之类的</div>
			        			    </div>
			        			</div>
			        			<div class="media_review">
			        				<img src="{% static 'img/review2.jpg' %}" class="media_review_img"/>
			        			    <i class="detail-icos v1"></i>
			        			    <div class="media_review_cont">			        			    	
										<span class="media_review_name">Gloria008</span>
										<span class="media_review_time"> 2016-09-27 22:41</span>										
										<div class="media_review_desc">不错 蛮温和的 洗澡后涂抹很舒服</div>
			        			    </div>
			        			</div>
			        			<div class="media_review">
			        				<img src="{% static 'img/review3.jpg' %}" class="media_review_img"/>
			        			    <i class="detail-icos v0"></i>
			        			    <div class="media_review_cont">			        			    	
										<span class="media_review_name">随缘hyr</span>
										<span class="media_review_time"> 2016-09-26 15:51</span>									
										<div class="media_review_desc">用着挺不错，买了十几个了</div>
			        			    </div>
			        			</div>
			        			<div class="media_review">
			        				<img src="{% static 'img/review1.jpg' %}" class="media_review_img"/>
			        			    <i class="detail-icos v1"></i>
			        			    <div class="media_review_cont">			        			    	
										<span class="media_review_name">土豆呼叫地瓜</span>
										<span class="media_review_time"> 2016-09-26 11:45</span>										
										<div class="media_review_desc">特别好</div>
			        			    </div>
			        			</div>
			        			<div class="media_review">
			        				<img src="{% static 'img/review3.jpg' %}" class="media_review_img"/>
			        			    <i class="detail-icos v0"></i>
			        			    <div class="media_review_cont">			        			    	
										<span class="media_review_name">透透</span>
										<span class="media_review_time"> 2016-09-25 10:19</span>										
										<div class="media_review_desc">还不错哦</div>
			        			    </div>
			        			</div>
			        			<div class="media_review">
			        				<img src="{% static 'img/review2.jpg' %}" class="media_review_img"/>
			        			    <i class="detail-icos v1"></i>
			        			    <div class="media_review_cont">			        			    	
										<span class="media_review_name">萱萱妹</span>
										<span class="media_review_time">2016-09-22 14:31</span>										
										<div class="media_review_desc">很好</div>
			        			    </div>
			        			</div>
			        			<div class="media_review">
			        				<img src="{% static 'img/review1.jpg' %}" class="media_review_img"/>
			        			    <i class="detail-icos v1"></i>
			        			    <div class="media_review_cont">			        			    
										<span class="media_review_name">冷情</span>
										<span class="media_review_time"> 2016-09-22 13:14</span>
										<div class="media_review_desc">好用，补水不油腻</div>
			        			    </div>
			        			</div>
			        			<div class="media_review">
			        				<img src="{% static 'img/review1.jpg' %}" class="media_review_img"/>
			        			    <i class="detail-icos"></i>
			        			    <div class="media_review_cont">
										<span class="media_review_name">微信sail1949</span>
										<span class="media_review_time"> 2016-09-21 14:30</span>
										<div class="media_review_desc">囤货的，还没用</div>
			        			    </div>
			        			</div>
			        	</div>
			        </div>
			    
			    </div>
			</div>
		</div>
		
		
		<!--底部。-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
		<div class="h-footer">
			<div class="mod-bottom">
				<dl>
					<dt>新手指南</dt>
					<dd><a href="#">购物流程</a></dd>
					<dd><a href="#">购物需知</a></dd>
					<dd><a href="#">联系客服</a></dd>
					<dd><a href="#">常见问题</a></dd>
				</dl>
				<dl>
					<dt>支付方式</dt>
					<dd><a href="#">第三方平台支付</a></dd>
					<dd><a href="#">优惠券</a></dd>
				</dl>
				<dl>
					<dt>售后服务</dt>
					<dd><a href="#">退货政策</a></dd>
					<dd><a href="#">退货流程</a></dd>
					<dd><a href="#">退货说明</a></dd>
				</dl>
				<dl>
					<dt>商品配送</dt>
					<dd><a href="#">运费说明</a></dd>
					<dd><a href="#">配送范围</a></dd>
					<dd><a href="#">发货说明</a></dd>
					<dd><a href="#">物流查询</a></dd>
				</dl>
				<dl>
					<dt>品牌保证</dt>
					<dd><a href="#">官方授权</a></dd>
					<dd><a href="#">海关监管</a></dd>
					<dd><a href="#">免税包邮</a></dd>
					<dd><a href="#">售后无忧</a></dd>  
				</dl>
				<dl class="last">
					<dt>手机嗨淘全球</dt>
					<dd><img src="{% static 'img/QRCode.png' %}" style="width: 110px;height: 110px;"/></dd>
				</dl>
			</div>
		
		    <div class="h-fot-nav">
		    	<div class="h-fot-nav-inner">
		    		<div class="h-about">

		    			<a href="#">公司简介</a>
		    			<a href="#">联系我们</a>
		    			<a href="#">大事记</a>
		    			<a href="#">人才招募</a>
		    			<a href="#">帮助中心</a>
		    			<a href="#">法律申明</a>
		    			<a href="#">合作专区</a>
		    			<a href="#">友情链接</a>
		    		</div>
		    		<div class="h-call">
		    			<i class="h-call-em"><img src="{% static 'img/phone.png' %}"/></i>
		    			<span class="h-call-num">4008-006-006</span>
		    		</div>
		    	</div>
		    </div>
		
		    <p class="h-copyright">
		    	Copyright © 2010 - 2016, 版权所有 HITAO.TOP&nbsp;&nbsp;&nbsp;&nbsp;湘ICP备10012668号-3&nbsp;&nbsp;嗨淘全球网　|　
		    	<a href="#">营业执照</a>
		    </p>
		    
		    <div class="h-footer-ccess">
		    	<a href="#" class="h-footer-ccess-item">
		    		<img src="{% static 'img/brand_1.png' %}"/>
		    	</a>
		    	<a href="#" class="h-footer-ccess-item">
		    		<img src="{% static 'img/brand_2.png' %}"/>
		    	</a>
		    	<a href="#" class="h-footer-ccess-item">
		    		<img src="{% static 'img/brand_3.png' %}"/>
		    	</a>
		    	<a href="#" class="h-footer-ccess-item">
		    		<img src="{% static 'img/brand_4.png' %}"/>
		    	</a>
		    </div>
		
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/usercenter.css' %}"/>
		<script src="{% static 'js/usercenter.js' %}" type="text/javascript" charset="utf-8"></script>
		    <div class="usercenter">
		    	<ul class="user_top">
		    		<li>
		    			<a href="#" class="user_cs user_btn_bg" title="在线客服"></a> 
		    			<div class="hitao_service">
		    				<span class="hitao_service_span"></span> <br />
       						 时间：9:00-24:00 <br />
       						 热线：4008-006-006   
		    			</div>
		    		</li>
		    		<li>
		    			<a href="cart.html" class="user-buy user_btn_bg" title="购物袋"></a>
		    			<span id="num">0</span>
		    		</li>
		    		<li>
		    			<a href="#" class="user_col user_btn_bg" title="我的收藏"></a>
		    			<div class="user_collection">我的收藏</div>  
		    		</li>
		    		<li>
		    			<a href="#" class="user_ticket user_btn_bg" title="我的优惠券"></a>
		    			<div class="user_tick">我的优惠券</div>  
		    		</li>
		    	</ul> 
		    	<ul class="user_bot">
		    		<li>
		    			<a href="#" class="user_code user_btn_bg" title="二维码"></a>
		    			<div class="hitao_code">
		    				<img src="{% static 'img/QRCode.png' %}" style="width: 93px; height: 93px;"/>
		    				手机注册有礼
		    			</div>
		    		</li>
		    		<li>
		    			<a class="user_uptop user_btn_bg" title="回到顶部"></a> 
		    		</li>
		    	</ul>
		    </div>
		</div>
	</body>
</html>
