
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>嗨淘全球-登录</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
		<script src="{% static 'js/jquery-1.12.0.js' %}" type="text/javascript" charset="utf-8"></script>
	    <script src="{% static 'js/login.js' %}" type="text/javascript" charset="utf-8"></script>
	    <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
	    
	</head>
	<body>
		<!--顶部-->
		<div class="mod_header">
			<div class="header_top">
				<a href="index.html" target="_blank">
					<img src="{% static 'img/Logo.png' %}" title="嗨淘全球" alt="嗨淘全球" height="71"/>
				</a>
				<div class="sloga"></div>
			</div>
		</div>
		
		
		<div class="group_box">
			<div class="join_box">
				<span class="join_icon"></span>
				<span class="welcome_hitao">欢迎登录加入嗨淘全球</span>
			   <div class="join_desc">
			   	还不是嗨淘全球会员？
			   	<a href="register.html" target="_blank" title="去注册" class="red_btn">
			   		<span>去注册</span>
			   	</a>
			   </div>
			</div>
		</div>
		
		<script src="{% static 'js/register.js' %}" type="text/javascript" charset="utf-8"></script>
		<div class="login_box">
			<div class="jogin_box">
				<div class="logo_left">
					<img src="{% static 'img/hitao.jpg' %}"/>
				</div>
				
				<div class="logo_right">
					<div class="login_tab">
						<ul class="login_nav">
							<li class="current">账号登录</li>
							<li>验证码登录</li>
						</ul>
						<div class="login_one" style="display: block;">






                           <form action="{% url 'tao:login' %}" method="post">
                               {% csrf_token %}
                               <div class="contr_group">
								<span class="contr_label">账号</span>
								<input class="input_xlarge" type="text" id="login_username" placeholder="请输入您的手机号" maxlength="11"  name="username" name="username"/>
							    <span class="tips_judge">
							    	<img src="{% static 'img/tips.png' %}"/>
							    	<em>请输入您的手机号</em>
							    </span>
							</div>

							<div class="contr_group">
								<span class="contr_label">密码</span>
								<input class="input_xlarge" type="password" id="login_password" placeholder="请输入您的密码" maxlength="20" name="password"  name="password"/>
							    <span class="tips_judge">
	 	 					    	<img src="{% static 'img/tips.png' %}"/>
							    	<em>请输入密码</em>
							    </span>
							</div>

							<div class="contr_w">
								<a href="#">忘记密码？</a>
							</div>

							<div class="contr_btn">
								<input type="button"  value="登录" class="gotwo" style="outline: 0;"/>
							</div>
                           </form>






						</div>
						
						
						
						<div class="login_two" style="display: none;">
							<div class="contr_group">
								<span class="contr_label">账号</span>
								<input class="input_xlarge" type="text" id="fast_login_username" placeholder="请输入您的手机号" maxlength="11" />
							    <span class="tips_judge">
							    	<img src="{% static 'img/tips.png' %}"/>
							    	<em>请输入您的手机号</em>
							    </span>
							</div>
							
							<div class="contr_group">
								<span class="contr_label">验证码</span>   
								<input class="input_xlarge" type="text" id="fast_login_code" placeholder="请输入验证码" maxlength="4" />
							    <span class="tips_judge">
							    	<img src="{% static 'img/tips.png' %}"/>
							    	<em>请输入验证码</em>	 	 					    	
							    </span>
							   <span id="idcode" class="getverify">5YU3</span>
							</div>
							
							<div class="contr_group">
								<span class="contr_label">短信验证码</span>
								<input class="input_xlarge" type="text" id="fast_login_password" placeholder="请输入您的短信验证码" maxlength="6"/>
							    <span class="tips_judge">
							    	<i><img src="{%  static 'img/tips.png' %}"/></i><em>请输入您的短信验证码</em>
							    </span>
							    <span class="getverify" id="fast_get_ver">获取短信验证码</span>
							</div>
							
							<div class="contr_btn">
								<input type="button" value="登录" class="gotwo" style="outline: 0;"/>
							</div>
						</div>
					
					    
					
					</div>
				</div>
			</div>
		</div>
		
		
		<!--底部和侧边栏-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
		<div class="h-footer">
			
		    <div class="h-fot-nav">
		    	<div class="h-fot-nav-inner">
		    		<div class="h-about">

		    			<a href="#">公司简介</a>
		    			<a href="#">联系我们</a>
		    			<a href="#">大事记</a>
		    			<a href="#">人才招募</a>
		    			<a href="#">帮助中心</a>
		    			<a href="#">法律申明</a>
		    			<a href="#">合作专区</a>
		    			<a href="#">友情链接</a>
		    		</div>
		    		<div class="h-call">
		    			<i class="h-call-em"><img src="{% static 'img/phone.png' %}"/></i>
		    			<span class="h-call-num">4008-006-006</span>
		    		</div>
		    	</div>
		    </div>
		
		    <p class="h-copyright">
		    	Copyright © 2010 - 2016, 版权所有 HITAO.TOP&nbsp;&nbsp;&nbsp;&nbsp;湘ICP备10012668号-3&nbsp;&nbsp;嗨淘全球网　|　
		    	<a href="#">营业执照</a>
		    </p>
		    
		    <div class="h-footer-ccess">
		    	<a href="#" class="h-footer-ccess-item">
		    		<img src="{% static 'img/brand_1.png' %}"/>
		    	</a>
		    	<a href="#" class="h-footer-ccess-item">
		    		<img src="{% static 'img/brand_2.png' %}"/>
		    	</a>
		    	<a href="#" class="h-footer-ccess-item">
		    		<img src="{% static 'img/brand_3.png' %}"/>
		    	</a>
		    	<a href="#" class="h-footer-ccess-item">
		    		<img src="{% static 'img/brand_4.png' %}"/>
		    	</a>
		    </div>
		
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/usercenter.css' %}"/>
		<script src="{% static 'js/usercenter.js' %}" type="text/javascript" charset="utf-8"></script>
		    <div class="usercenter">
		    	<ul class="user_top">
		    		<li>
		    			<a href="#" class="user_cs user_btn_bg"></a> 
		    			<div class="hitao_service">
		    				<span class="hitao_service_span"></span> <br />
       						 时间：9:00-24:00 <br />
       						 热线：4008-006-006   
		    			</div>
		    		</li>
		    		<li>
		    			<a href="login.html" target="_blank" class="user-buy user_btn_bg"></a>
		    			<span id="num">0</span>
		    		</li>
		    		<li>
		    			<a href="#" class="user_col user_btn_bg"></a>
		    			<div class="user_collection">我的收藏</div> 
		    		</li>
		    		<li>
		    			<a href="#" class="user_ticket user_btn_bg"></a>
		    			<div class="user_tick">我的优惠券</div>  
		    		</li>
		    	</ul> 
		    	<ul class="user_bot">
		    		<li>
		    			<a href="#" class="user_code user_btn_bg"></a>
		    			<div class="hitao_code">
		    				<img src="{% static 'img/QRCode.png' %}" style="width: 93px; height: 93px;"/>
		    				手机注册有礼
		    			</div>
		    		</li>
		    		<li>
		    			<a class="user_uptop user_btn_bg"></a> 
		    		</li>
		    	</ul>
		    </div>
		</div>
	</body>
</html>
